<div id="<%= dom_id todo %>">
  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= todo.high_priority? ? "High priority" : "Normal priority" %>
  </p>

  <%= button_to(
        todo.high_priority? ? "Mark normal priority" : "Mark high priority",
        toggle_priority_todo_path(todo),
        method: :patch
      ) %>

</div>
